---
import { getCollection } from 'astro:content';

import Layout from '@/layouts/Layout.astro';
import Main from '@/components/utils/Main.astro';
import MenuToggle from '@/components/utils/MenuToogle';
import TableOfContents from '@/components/utils/TableOfContents.svelte';

export async function getStaticPaths() {
    const entries = await getCollection('linux');
    return entries.map(entry => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}

const { entry } = Astro.props;
const { data } = entry;
const { Content } = await entry.render();
const { headings } = await entry.render();
const h2 = headings.filter(heading => heading.depth === 2);

const allSections = await getCollection('linux');
const sortedSections = allSections.sort((a, b) => a.data.order - b.data.order);
---

<Layout title={data.title} description={data.description}>
    <Main>
        <div class="mx-auto max-w-screen-xl md:px-4 pb-16">
            <div
                class="md:grid lg:grid-cols-[20%,60%,20%] relative min-h-screen gap-8"
            >
                <MenuToggle client:load>
                    <nav text-black>
                        <p
                            class="text-lg font-bold mb-4 text-fourth dark:text-dark-secondary"
                        >
                            Secciones
                        </p>
                        <ul class="space-y-3">
                            {
                                sortedSections.map(section => (
                                    <li>
                                        <a
                                            href={`/linux/${section.slug}`}
                                            class={`block hover:text-blue-400 text-base ${
                                                entry.slug === section.slug
                                                    ? 'text-primary dark:text-dark-third font-semibold'
                                                    : 'dark:text-six text-secondary md:text-fourth font-medium'
                                            }`}
                                        >
                                            {section.data.isIntro
                                                ? 'Introducción'
                                                : section.data.title}
                                        </a>
                                    </li>
                                ))
                            }
                        </ul>
                    </nav>
                </MenuToggle>

                <div class="flex-1 min-w-0 px-4 md:px-8 mt-6 md:mt-2">
                    <h2
                        class="text-xl font-medium my-2 sticky top-0 text-fourth/80 dark:text-dark-five pt-2 md:pt-0"
                    >
                        {data.title}
                    </h2>
                    <div
                        class="prose dark:prose-invert prose-neutral w-full max-w-none prose-ul:ps-4 prose-h3:mt-2
                    [&_*]:text-fourth [&_*]:dark:text-dark-secondary prose-lg prose-h2:my-2 prose-pre:my-2 prose-h1:mb-2 prose-hr:my-6"
                    >
                        <Content />
                    </div>
                </div>

                <div class="w-64 relative hidden lg:block h-full">
                    <TableOfContents client:only="svelte" headings={h2} />
                </div>
            </div>
        </div>
    </Main>
</Layout>
